/* You can add global styles to this file, and also import other style files */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
p{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: black;
}

.container{
  position: relative;
  background-color: #f6f6f0;
  width: 80%;
  text-align: left;
  left: 8%;
  padding: 20px;
  font-family: sans-serif;
  border-top: 24px solid rgb(255, 102, 0);
}
.header{
  margin-top: -40px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-bottom: 10px;
}

.logo{
  border: 1px solid #f6f6f0;
  margin-left: -18px;
  margin-top: -2px;
}

.hacker-news{
  font-weight: bold;
  margin-left: 5px;
  font-size: 14px;
}
.nav-link{
  padding: 0px 8px 0px 8px;
  text-decoration: none;
  color: black;
  font-size: 14px;
}
.login{
  position: relative;
  left: 60%;
}
.website-text{
  color: #828282;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 8pt;
}
.post{
  margin-top: -10px;
}
.points-text{
  color: #828282;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 8pt;
}
.bottom-text{
  margin-top: -15px;
  margin-left: 18px;
}
.arrow-icon{
  width: 10px;
}
